{% extends "qsh/base.html" %}

{% block title %}Add new to {{ shoplist.name }}{% endblock %}

{% block active-list %}<li><a href="{% url 'qsh:shoplist_edit' shoplist.id %}">{{ shoplist.name }}</a></li>{% endblock %}

{% block navbar-right-content %}
<button class="btn btn-primary navbar-btn" onclick="$('#add_form').submit()">Add New</button>
{% endblock %}

{% block content %}

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form id="add_form" method="post">
{% csrf_token %}
{{ form }}
</form>

{% endblock %}
