{% extends "qsh/base.html" %}

{% block title %}Add many to {{ shoplist.name }}{% endblock %}

{% block active-list %}<li><a href="{% url 'qsh:shoplist_edit' shoplist.id %}">{{ shoplist.name }}</a></li>{% endblock %}

{% block navbar-right-content %}
<button class="btn btn-primary navbar-btn" onclick="$('#list_form').submit()">Add Selected</button>
{% endblock %}

{% block content %}

<h3>{{ selected }}</h3>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

{% if buyables %}
<form id="list_form" method="post">
{% csrf_token %}
<div class="list-group">
{% for buyable in buyables %}
    <div class="list-group-item">
        <input type="checkbox" name="buyables_to_add" value="{{ buyable.id }}"/>
        <span class="list-group-item-text"><strong>{{ buyable.name }}</strong></span>
    </div>
{% endfor %}
</div>
</form>

{% else %}
    <p>No buyables for some reason!?</p>
{% endif %}

{% endblock %}
