{% extends "qsh/base.html" %}

{% block title %}All shoplists{% endblock %}

{% block navbar-right-content %}
<div class="dropdown navbar-btn">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span></button>
    <ul class="dropdown-menu">
        <li><a href="{% url 'qsh:shoplist_create' %}">Create New</a></li>
        <li><a href="javascript: $('#list_form').submit()" class="bg-danger text-danger">Delete selected</a></li>
    </ul>
</div>
{% endblock %}


{% block content %}
<form id="lists_form">
<div class="list-group">
  <div class="list-group-item hidden">
    <input type="checkbox" name="shoplists_to_delete" />
    <span class="list-group-item-text"><a><strong>--SHOPLIST-NAME--</strong></a></span>
  </div>
</div>
</form>
{% endblock %}


{% block in-body %}

<div id="myModal" class="modal fade" role="dialog"></div>

<button class='btn' onclick="$('#myModal').load('create_modal');" data-toggle="modal" data-target="#myModal">Contact!</button>

<script>var url_shoplist_list_all_json = "{% url 'qsh:shoplist_list_all_json' %}";</script>
<script src="/static/qsh/dyn.js"></script>
{% endblock %}
