{% extends "qsh/base.html" %}

{% block title %}All shoplists{% endblock %}
{% block content %}

{% if shoplist_list %}
<form action="{% url 'qsh:shoplist_delete' %}" method="post">
{% csrf_token %}
{% for shoplist in shoplist_list %}
    <input type="checkbox" name="shoplists_to_delete" id="shoplist{{ forloop.counter }}" value="{{ shoplist.id }}"/>
    <label for="shoplist{{ forloop.counter }}">
        <a href="{% url 'qsh:shoplist_edit' shoplist.id %}">{{ shoplist.name }}</a>
    </label>
    <br />
{% endfor %}
<input type="submit" value="Delete selected" />
</form>
{% else %}
    <p>No shoplists yet</p>
{% endif %}

<p>
<a href="{% url 'qsh:shoplist_create' %}">Create new</a></li>
</p>
{% endblock %}
