{% extends "qsh/base.html" %}

{% block title %}Edit {{ shoplist.name }}{% endblock %}

{% block active-list %}<p class="navbar-text">{{ shoplist.name }}</p>{% endblock %}

{% block operation %}
<div class="dropdown navbar-btn">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span></button>
    <ul class="dropdown-menu">
        <li><a href="{% url 'qsh:shoplist_add_new'  shoplist.id %}">Add New</a></li>
        <li><a href="{% url 'qsh:shoplist_add_many' shoplist.id %}">Add Many</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'qsh:shoplist_edit' shoplist.id %}" method="post">
{% csrf_token %}
{% for buydetail in shoplist.buydetail_set.all %}
    <input type="checkbox" name="buydetails_to_delete" id="buydetail{{ forloop.counter }}" value="{{ buydetail.id }}"/>
    <label for="buydetail{{ forloop.counter }}">{{ buydetail.buyable.name }}</label><br />
{% endfor %}
<input type="submit" value="Delete" />
</form>

<a href="{% url 'qsh:shoplist_add_new'  shoplist.id %}">Add new</a>
<a href="{% url 'qsh:shoplist_add_many' shoplist.id %}">Add many</a>

{% endblock %}
